.DS_Store
AMIR42FL.DTA
AMIR54FL.dta
AMIR61FL.DTA
AMIR71FL.DTA
AMMR41FL.DTA
AMMR52FL.DTA
AMMR61FL.DTA
AMMR71FL.DTA
AOIR71FL.DTA
AOMR71FL.DTA
AZIR52FL.DTA
AZMR52FL.DTA
BDIR31FL.DTA
BDIR3AFL.DTA
BDIR41FL.DTA
BDIR4JFL.DTA
BDIR51FL.DTA
BDIR61FL.DTA
BDMR31FL.DTA
BDMR3AFL.DTA
BDMR41FL.DTA
BDMR4JFL.DTA
BDMR51FL.DTA
BDMR61FL.DTA
BUIR61FL.DTA
BUIR70FL.DTA
BUMR61FL.DTA
BUMR70FL.DTA
COIR72FL.DTA
COMR71FL.DTA
DRIR32FL.DTA
DRIR41FL.DTA
DRIR4AFL.DTA
DRIR52FL.DTA
DRIR5AFL.DTA
DRIR61FL.DTA
DRIR6AFL.DTA
DRMR31FL.DTA
DRMR41FL.DTA
DRMR4AFL.DTA
DRMR52FL.DTA
DRMR5AFL.DTA
DRMR61FL.DTA
DRMR6AFL.DTA
GMIR60FL.DTA
GMIR81FL.DTA
GMMR60FL.DTA
GMMR81FL.DTA
HTIR31FL.DTA
HTIR42FL.dta
HTIR52FL.DTA
HTIR61FL.DTA
HTIR70FL.DTA
HTMR31FL.DTA
HTMR42FL.dta
HTMR52FL.DTA
HTMR61FL.DTA
HTMR70FL.DTA
IAIR52FL.dta
IAIR74FL.DTA
IAMR52FL.dta
IAMR74FL.DTA
IDIR42FL.DTA
IDIR51FL.DTA
IDMR42FL.DTA
IDMR51FL.DTA
JOIR73FL.DTA
JOMR71FL.DTA
KHIR51FL.DTA
KHIR61FL.DTA
KHIR72FL.DTA
KHMR51FL.DTA
KHMR61FL.DTA
KHMR72FL.DTA
LSIR61FL.DTA
LSIR71FL.DTA
LSMR61FL.DTA
LSMR71FL.DTA
MDIR41FL.dta
MDIR51FL.DTA
MDMR41FL.dta
MDMR51FL.DTA
NPIR41FL.DTA
NPIR51FL.dta
NPIR60FL.DTA
NPIR7HFL.DTA
NPMR41FL.DTA
NPMR51FL.dta
NPMR60FL.DTA
NPMR7HFL.DTA
PEIR31FL.DTA
PEMR31FL.DTA
PGIR70FL.DTA
PGMR70FL.DTA
STIR50FL.DTA
STMR50FL.DTA
SZIR51FL.dta
SZMR51FL.dta
TLIR61FL.DTA
TLIR71FL.DTA
TLMR61FL.DTA
TLMR71FL.DTA
TZIR21FL.DTA
TZIR3AFL.DTA
TZIR41FL.DTA
TZIR4IFL.DTA
TZMR21FL.DTA
TZMR3AFL.DTA
TZMR41FL.DTA
TZMR4IFL.DTA
UAIR51FL.DTA
UAMR51FL.DTA
