AFIR70FL.DTA
AFMR70FL.DTA
ALIR50FL.DTA
ALIR71FL.DTA
ALMR50FL.DTA
ALMR71FL.DTA
BFIR21FL.DTA
BFIR31FL.DTA
BFIR43FL.dta
BFIR62FL.DTA
BFMR21FL.DTA
BFMR31FL.DTA
BFMR41FL.DTA
BFMR62FL.DTA
BJIR31FL.DTA
BJIR41FL.DTA
BJIR51FL.DTA
BJIR61FL.DTA
BJIR71FL.DTA
BJMR31FL.DTA
BJMR41FL.DTA
BJMR51FL.DTA
BJMR61FL.DTA
BJMR71FL.DTA
BOIR3BFL.DTA
BOIR41FL.DTA
BOIR51FL.DTA
BOMR3BFL.DTA
BOMR41FL.DTA
BOMR51FL.DTA
BRIR31FL.DTA
BRMR31FL.DTA
CDIR50FL.dta
CDIR61FL.DTA
CDMR50FL.dta
CDMR61FL.DTA
CFIR31FL.DTA
CFMR31FL.DTA
CGIR51FL.DTA
CGIR60FL.DTA
CGMR51FL.DTA
CGMR60FL.DTA
CIIR35FL.DTA
CIMR33FL.DTA
CMIR22FL.DTA
CMIR31FL.DTA
CMIR44FL.dta
CMIR60FL.DTA
CMIR71FL.DTA
CMMR21FL.DTA
CMMR31FL.DTA
CMMR44FL.dta
CMMR60FL.DTA
CMMR71FL.DTA
ETIR41FL.DTA
ETIR51FL.DTA
ETIR61FL.DTA
ETIR70FL.DTA
ETMR41FL.DTA
ETMR51FL.DTA
ETMR61FL.DTA
ETMR70FL.DTA
GAIR60FL.DTA
GAMR60FL.DTA
GHIR31FL.DTA
GHIR41FL.DTA
GHIR5AFL.DTA
GHIR70FL.DTA
GHMR31FL.DTA
GHMR41FL.DTA
GHMR5AFL.DTA
GHMR70FL.DTA
GNIR41FL.DTA
GNIR71FL.DTA
GNMR41FL.DTA
GNMR71FL.DTA
GUIR71FL.DTA
GUMR71FL.DTA
GYIR5IFL.DTA
GYMR5IFL.DTA
HNIR62FL.DTA
HNMR62FL.DTA
KEIR33FL.DTA
KEIR3AFL.DTA
KEIR42FL.DTA
KEIR52FL.DTA
KEIR70FL.DTA
KEMR32FL.DTA
KEMR3AFL.DTA
KEMR42FL.DTA
KEMR52FL.DTA
KEMR70FL.DTA
KKIR42FL.DTA
KKMR41FL.DTA
LBIR51FL.DTA
LBIR6AFL.DTA
LBIR7AFL.DTA
LBMR51FL.DTA
LBMR6AFL.DTA
LBMR7AFL.DTA
MBIR53FL.DTA
MBMR52FL.DTA
MLIR32FL.DTA
MLIR41FL.DTA
MLIR53FL.DTA
MLIR6HFL.DTA
MLIR7HFL.DTA
MLMR31FL.DTA
MLMR41FL.DTA
MLMR53FL.DTA
MLMR6HFL.DTA
MLMR7HFL.DTA
MWIR41FL.DTA
MWIR4DFL.DTA
MWIR61FL.DTA
MWIR7HFL.DTA
MWMR41FL.DTA
MWMR4DFL.DTA
MWMR61FL.DTA
MWMR7HFL.DTA
MZIR31FL.DTA
MZIR41FL.DTA
MZIR62FL.DTA
MZIR71FL.DTA
MZMR31FL.DTA
MZMR41FL.DTA
MZMR62FL.DTA
MZMR71FL.DTA
NGIR41FL.DTA
NGIR4BFL.DTA
NGIR53FL.DTA
NGIR6AFL.DTA
NGIR7AFL.DTA
NGMR41FL.DTA
NGMR4AFL.DTA
NGMR52FL.DTA
NGMR6AFL.DTA
NGMR7AFL.DTA
NIIR22FL.DTA
NIIR31FL.DTA
NIIR51FL.DTA
NIIR61FL.DTA
NIMR21FL.DTA
NIMR31FL.DTA
NIMR51FL.DTA
NIMR61FL.DTA
NMIR41FL.DTA
NMIR51FL.dta
NMIR61FL.DTA
NMMR41FL.DTA
NMMR51FL.dta
NMMR61FL.DTA
PHIR41FL.DTA
PHMR41FL.DTA
PKIR61FL.DTA
PKMR61FL.DTA
RWIR21FL.DTA
RWIR41FL.DTA
RWIR53FL.DTA
RWIR5AFL.DTA
RWIR61FL.DTA
RWIR70FL.DTA
RWMR21FL.DTA
RWMR41FL.DTA
RWMR53FL.DTA
RWMR5AFL.DTA
RWMR61FL.DTA
RWMR70FL.DTA
SLIR51FL.DTA
SLIR61FL.DTA
SLIR7AFL.DTA
SLMR51FL.DTA
SLMR61FL.DTA
SLMR7AFL.DTA
SNIR21FL.DTA
SNIR32FL.DTA
SNIR4HFL.dta
SNIR61FL.DTA
SNIR70FL.DTA
SNIR7HFL.DTA
SNIR7QFL.DTA
SNIR7ZFL.DTA
SNIR81FL.DTA
SNIR8AFL.DTA
SNMR21FL.DTA
SNMR31FL.DTA
SNMR4HFL.dta
SNMR61FL.DTA
SNMR70FL.DTA
SNMR7HFL.DTA
SNMR7QFL.DTA
SNMR7ZFL.DTA
SNMR81FL.DTA
SNMR8AFL.DTA
TDIR31FL.DTA
TDIR41FL.DTA
TDIR71FL.DTA
TDMR31FL.DTA
TDMR41FL.DTA
TDMR71FL.DTA
TGIR31FL.DTA
TGIR61FL.DTA
TGMR31FL.DTA
TGMR61FL.DTA
UGIR33FL.DTA
UGIR41FL.DTA
UGIR52FL.DTA
UGIR60FL.DTA
UGIR7HFL.DTA
UGMR33FL.DTA
UGMR41FL.DTA
UGMR52FL.DTA
UGMR60FL.DTA
UGMR7HFL.DTA
ZAIR71FL.DTA
ZAMR71FL.DTA
ZMIR31FL.DTA
ZMIR42FL.DTA
ZMIR51FL.DTA
ZMIR61FL.DTA
ZMIR71FL.DTA
ZMMR31FL.DTA
ZMMR41FL.DTA
ZMMR51FL.DTA
ZMMR61FL.DTA
ZMMR71FL.DTA
ZWIR31FL.DTA
ZWIR42FL.DTA
ZWIR52FL.DTA
ZWIR62FL.DTA
ZWIR70FL.DTA
ZWMR31FL.DTA
ZWMR41FL.DTA
ZWMR52FL.DTA
ZWMR62FL.DTA
ZWMR70FL.DTA
